@font-face {
    font-family: 'League Spartan';
    src: url('./../fonts/LeagueSpartan.ttf');
}

.calculPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: #005F00;
    background: linear-gradient(to bottom, #ffffff, #B0FFAA);
    flex-direction: column;
}

.containerComparer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute; /* Permet de le positionner précisément */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre exactement au milieu */
}
.button {
    display: flex;
    margin-top: 30px;
}

