.header {
    font-family: 'League Spartan', serif;
    display: flex;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 13vw;
    height: 12vh;
}
.buttonContainer {
    position: absolute;
    right: 2rem;
    margin-bottom: 1rem;
}
.menuContainer {
    position: absolute;
    left: 2rem;
    margin-bottom: 1rem;
}
.button{
    background: #B0FFAA;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 0px;
}
.button:hover{
    transform: scale(1.1);
}
.userName{
    vertical-align: middle;
    margin-left: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}
.avatarIcon{
    vertical-align: middle;
}
.deleteButton {
    background: #ff8a8a;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 15px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.deleteButton:hover {
    transform: scale(1.05);
}
