.inputField {
    width: 80%;
    height: 80%;
}
.inputContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background-color:#D2FFDB;
    border-radius: 10px;
}
.inputContainer input {
    flex: 1;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #005F00;
    width: 100%;
}
.suggestionBox {
    position: absolute;
    top: 105%;
    left: 35px;
    right: 0;
    background: white;
    color: green;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 9999;
}

.suggestionItem {
    padding: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.suggestionItem:hover {
    background: #e6ffe6;
}
