@font-face {
    font-family: 'League Spartan';
    src: url('./../fonts/LeagueSpartan.ttf');
}

.layout {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff, #B0FFAA);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}